html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-1 {
  height: 50%;
  color: #fffcf2;
  padding: 10px;

  background-color: #34495e;
}
.logo {
  font-size: 24px;
  color: #fffcf2;
  padding: 10px 50px;
  display: inline-block;
}
.algorithm {
  background: #34495e;
  display: inline-block;
  font-size: 20px;
  /* min-width: 150px; */

  cursor: pointer;
  border: none;
  color: #fffcf2;
}

#caret {
  background-image: url(caret.png);
  vertical-align: middle;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-size: contain;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #34495e;
  min-width: 150px;
  z-index: 1;
}
.algorithm:hover .dropdown {
  display: block;
}

.dropdown div {
  padding: 10px;
}
.dropdown div:hover {
  background-color: #1abc9c;
  padding: 10px;
}
#visualize-btn {
  padding: 10px;
  width: 100px;
  background-color: #1abc9c;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fffcf2;
  font-size: 14px;
  font-weight: 600;
  margin: 0 100px;
}

#clearboard {
  display: inline-block;
  font-size: 20px;
  min-width: 150px;
  padding: 10px;
  cursor: pointer;
}
#speed {
  display: inline-block;
  font-size: 20px;
  min-width: 150px;
  padding: 10px;
  cursor: pointer;
}

.navbar-2 {
  display: flex;
  justify-content: center;
}

.navbar-2 label {
  color: #333745;
  font-size: 20px;
  font-weight: 400;
}
.navbar-2 input {
  width: 150px;
  border-radius: 10px;
  padding: 5px 5px;
  size: 20px;
  text-align: center;
  font-weight: 600;
}
/* input[type="number"] :: placeholder {
  text-align: center;
} */
#startValue {
  margin: 0 25px;
}
#targetValue {
  margin: 0 25px;
}

.grid-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  width: 98%;
  height: 98%;
  background-color: #fff;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0;
}

td {
  border: 1px solid rgb(175, 216, 248);
}

.start {
  background-image: url(start.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.target {
  background-image: url(target.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.instantvisited {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(0, 190, 218, 0.75);
  background-color: rgba(178, 67, 255, 0.75);
}
.wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.path {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgb(255, 254, 106);
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes triangletwo {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
.visited {
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

#start-btn {
  /* /* display: flex; */
  justify-content: center;
  /* align-self: center; */
}

.colors {
  background-color: #41ead4;
  background-color: #333745;
  background-color: #f71735;
  background-color: #41ead4;
  background-color: #fffcf2;
  background-color: #ccc5b9;
}
